
        "sql_dw": {
            "host": "10.0.0.53",
            "database": "test_db",
            "username": "admin",
            "password": "password123"
        },
        "sql_dw_52": {
            "host": "10.0.0.52",
            "database": "test_db",
            "username": "admin",
            "password": "password123"
        }
    }